{% extends 'base.html' %}

{% block content %}
{% include 'partials/nav_bar.html' %}








<form action="{% url 'login' %}" method="POST" class="welcome">
    <h4>Login</h4>
    <h5>It's always FREE!</h5>
  {% csrf_token %}
  <div>
    <input class="input-field" type="text" id="username" name="username" placeholder="Username" required maxlength="25"
      minlength="2" />
    <!-- <label for="username">Username</label> -->
    <!-- <div class="after"></div> -->
  </div>

  <div>
    <input class="input-field" type="password" id="password" name="password" placeholder="Password" required maxlength="25"
      minlength="4" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
    <!-- <label for="password">Password</label> -->
    <!-- <div class="after"></div> -->
    <div class="requirements">
      Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one
      number.
    </div>
  </div>

  <button type="submit" value="Login">Sign Up!</button>
  <p>Dev Connection will never share your data or information.</p>
  <h6>Learn more about Dev-Connection's privacy practices.</h6>
</form>

{% endblock %}