{% extends 'base.html' %}

{% block content %}
{% include 'partials/nav_bar.html' %}



  <h2>Register</h2>


  {% if error %}
    <!-- <p style="background-color: salmon; padding: 10px;">{{ error }}</p> -->
  {% endif %}
  <!-- required maxlength="25" minlength="2" -->
  <!-- required maxlength="25" minlength="4" -->
  <form action="{% url 'register' %}" method="POST" class="margin-top">
    {% csrf_token %}
    <form action="#0">

      <div>
        <input type="text" id="first_name" name="first_name" placeholder="" required maxlength="25" minlength="2" />
        <label for="first_name">First Name</label>
        <!-- <div class="after"></div> -->
      </div>
  
      <div>
        <input type="text" id="last_name" name="last_name" placeholder="" required maxlength="25" minlength="2" />
        <label for="last_name">Last Name</label>
        <!-- <div class="after"></div> -->
      </div>
  
      <div>
        <input type="email" id="email" name="email" placeholder="" required maxlength="25" minlength="2" />
        <label for="email">Email Address</label>
        <!-- <div class="after"></div> -->
        <div class="requirements">
          Must be a valid email address.
        </div>
      </div>
  
      <div>
        <input type="text" id="username" name="username" placeholder="" required maxlength="25" minlength="2" />
        <label for="username">User Name</label>
        <!-- <div class="after"></div> -->
      </div>
  
      <div>
        <input type="password" id="password" name="password" placeholder="" required maxlength="25" minlength="4" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
        <label for="password">Password</label>
        <!-- <div class="after"></div> -->
        <div class="requirements">
          Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
        </div>
      </div>
  
      <div>
        <input type="password" id="password2" name="password2" placeholder="" required maxlength="25" minlength="4" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
        <label for="password">Confirm Password</label>
        <!-- <div class="after"></div> -->
        <!-- <div class="requirements">
          Your password must be at least 6 characters as well as contain at least one uppercase, one lowercase, and one number.
        </div> -->
      </div>
  
      <button type="submit" value="Register">Sign Up!</button>

  </form>

{% endblock %}
