3{% extends 'base.html' %}

{% block content %}
{% include 'partials/nav_bar.html' %}
{% load static %}

<header style="background-image: url({% static 'images/stock2.jpg' %})">
</header>

<main class="class">

  <div class="class-info">
    <div class="title">
      <h1>WDI-48</h1>
      <h2>San Francisco</h2>
    </div>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CMmY955jD5A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>

  <section>
    <p class="marginator">
        Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.    </p>
    <p class="marginator">
      Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
    </p>
    <p class="marginator">
      Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
    </p>
  </section>
  <section class="instructors">
    <br/>
    <h2>Meet the Instructors</h2>
    <div class="instructor-blurbs">
      <div class="blurb">
        <div class="instructor-img">
          <img src="{% static 'images/kenny.jpg' %}" />
        </div>

        <h5>Kenny Bushman</h5>
        <p>
          I'm a mysterious man with a mysterious knife.
        </p>
      </div>
      <div class="blurb">
        <div class="instructor-img">
          <img src="{% static 'images/brock.jpg' %}" />
        </div>

        <h5>Brock Whitbread-Cole</h5>
        <p>
          I'm equally invested in U.S. politics and being Canadian.
        </p>
      </div>
    </div>
  </section>

  <section class="site">
    <br/>
    <h2>About this Site</h2>
    
    <img src="{% static 'images/stock1.jpg' %}" />
    <p><strong>Employers:</strong> We prioritize the whole student so you don't just get a faceless resume or an impersonal profile. Check out our projects, learn about the immersive, and, most importantly, if we're a good snack fit for your company.</p>

    <p><strong>Students:</strong> Let employers know what you're about by letting them know not just your skills and accomplishments but also who you are. Let your personality shine through by sharing your aspirations, plots for world domination, and interests. Show off your projects and easily add new ones as you complete them, or edit and delete them to keep your portfolio up to date.</p>
  </section>

</main>
{% include 'partials/student_directory.html' %}

{% endblock %}
