{% extends 'base.html' %}
{% block content %}
{% load static %}

<body class="landing">
        <img src=" {% static 'images/branding-sm.svg' %}" alt="dev_logo_landing" class="logo-splash"/>
    <main>
        <div className="branding">
            <header className="branding-header">
                <img src=" {% static 'images/dev-radar.svg' %}" class="branding-logo" alt="dev_radar" style="max-width: 350px;" />
                <br/>
                <h5>We are WDI-48: San Francisco, CA</h5>
                <a href="{% url 'about' %}"><button class="btn-landing">Check it out!</button></a>
                <br/>
                <img src=" {% static 'images/ga_logo.png' %}" alt="ga_logo" class="image" />
            </header>
        </div>
    </main>

</body>

{% endblock %}
